@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}